  <style>
     p {        border: 1px solid black;
  		color: black;
 		margin-top: 40px;
 		margin-bottom: 40px;
  		margin-right: 40px;
  		margin-left: 40px;
  		}
		
     p.solid {border-style: solid;}



