  <style>
     p {        background-color: lightgrey;
  		color: black;
 		margin-top: 40px;
 		margin-bottom: 40px;
  		margin-right: 40px;
  		margin-left: 40px;
  		}
		
     p.solid {border-style: solid;}

body { font-size: 25px;
}
p {color: #FFCC00}
